.btn {
  display: inline-block;
  min-width: 100px;
  border-radius: 50px;
  color: $white;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 41px;
  transition: all 0.3s ease;
  border: 2px solid;

  &:hover {
    transition: all 0.3s ease;
  }

  &.primary-btn {
    background-color: $white;
    border-color: $white;
    color: $blue;

    &:hover {
      background-color: transparent;
      color: $white;
    }

    &.outline-btn {
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: $white;
        color: $blue;
      }
    }
  }

  &.secondary-btn {
    background: $gradient;
    color: $white;
    border-color: $blue-1;

    &:hover {
      background: transparent;
      color: $white;
    }

    &.outline-btn {
      background: transparent;
      border-color: $blue-1;
      color: $white;
      width: 100%;

      &:hover {
        background: $gradient;
        color: $white;
      }
    }
  }

  &.gradient-btn {
    background: $gradient;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    border-image-slice: 1;
    

    &:hover {
      background: $gradient-1;

    }
  }

  &.d-flex {
    display: flex;
    align-items: center;

    img {
      width: 22px;
      padding-right: 6px;
    }
  }
}
