* {
  @media (min-width: $breakpoint-sm) {
    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $gradient;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $gradient;
    }
  }
}
