<footer class="footer-section">
  <div class="container">
    <div class="footer">
      <div class="footer__item1">
        <div class="footer__img">
          <img src="img/nextly.png" alt="nextly" />
        </div>
      </div>
      <div class="footer__item2">
        <div class="box">
          <div class="title">Brazil</div>
          <div class="text">Av. Engenheiro Luís Carlos Berrini, 1140 – São Paulo</div>
        </div>
      </div>
      <div class="footer__item3">
        <div class="box">
          <div class="title">United Kingdom</div>
          <div class="text">64 The Crescent KT33LH, New Malden</div>
        </div>
      </div>
      <div class="footer__item4">
        <div class="box">
          <div class="title">Follow Us</div>
          <ul class="box__social">
            <li>
              <a href="#"><img src="img/inst.svg" alt="inst" /></a>
            </li>
            <li>
              <a href="#"><img src="img/linkedin.svg" alt="linkedin" /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__item5">
        <div class="box">
          <div class="title">Contact Us</div>
          <ul class="box__contact">
            <li><a href="mailto:hi@nextly.team">hi@nextly.team </a></li>
            <li><a href="tel:+123 456 789">+123 456 789</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copy">
    <div class="container">
      <div>&#169; 2021 Nextly. All rights reserved.</div>
    </div>
  </div>
</footer>