<header class="header">
  <div class="container">
    <strong class="header__img">
      <a href="#">
        <img src="img/nextly.png" alt="nextly" />
      </a>
    </strong>
    <div class="header-menu">
      <button class="header-menu-opener">
        <span></span>
      </button>
      <ul class="header__pages">
        <li class="header__pages-opener">
          <button class="header-menu-opener">
            <span></span>
          </button>
        </li>
        <li class="header-menu__logo">
          <a href="#">
            <img src="img/nextly.png" alt="nextly" />
          </a>
        </li>
        <li><a href="#" class="active">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Cases</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</header>