$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$gray: #161719;
$gray-1: #8C8C8C;
$gray-2: #3C4147;
$gray-3: #E0E0E0;
$gray-4: #828282;
$blue: #003166;
$blue-1: #007AFF;
$gradient: linear-gradient(90deg, rgba(0,122,255,1) 0%, rgba(0,49,102,1) 100%);
$gradient-1: linear-gradient(90deg, rgba(117,175,238,0.929030987394958) 0%, rgba(10,76,148,0.8449973739495799) 100%);
$gradient-2: linear-gradient(180deg, rgba(22, 23, 25, 0.75) 0%, #000000 100%);
$purple: #6856C9;
$orange: #F24423;

// Breakpoints
$breakpoint-xs: 768px;
$breakpoint-sm: 992px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
