.footer-section {
  background-color: $black;
}

.footer {
  color: $white;
  margin: 0 auto;
  padding: 40px 0 30px;

  @media (min-width: $breakpoint-xs) {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  &__item1 {
    @media (min-width: $breakpoint-xs) {
      order: 1;
      align-self: center;
    }
  }

  &__img {
    width: 124px;
    margin: 0 auto 60px;

    @media (min-width: $breakpoint-xs) {
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .box {
    max-width: 222px;
    margin: 0 auto 60px;
    text-align: center;

    @media (min-width: $breakpoint-xs) {
      margin: 0;
      text-align: left;
    }

    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -10px;

      @media (min-width: $breakpoint-xs) {
        justify-content: flex-start;
      }

      li {
        padding: 0 10px;
      }

      img {
        width: 38px;
      }
    }

    &__contact {
      margin: -2px 0;

      li {
        padding: 2px 0;
      }

      a {
        color: $white;
        font-size: 16px;
        line-height: 40px;
      }
    }
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: $breakpoint-xs) {
      text-align: left;
    }
  }

  .text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @media (min-width: $breakpoint-xs) {
      text-align: left;
    }
  }
}

.footer-copy {
  background-color: $gray;
  padding: 20px 0;
  color: $gray-3;
  font-size: 12px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $breakpoint-xs) {
    padding: 30px 0;
  }
}
