.header {
  background: $gradient;
  position: relative;
  z-index: 2;
  padding: 20px 0;

  @media (min-width: $breakpoint-xs) {
  }

  &__img {
    display: none;

    @media (min-width: $breakpoint-xs) {
      display: block;
      width: 132px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: $breakpoint-xs) {
      justify-content: space-between;
    }
  }
}

.header-menu {
  &-opener {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 18px;

    @media (min-width: $breakpoint-xs) {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $white;
      left: 0;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.active {
      &:before {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }

      &:after {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
      }

      span {
        opacity: 0;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $white;
    }
  }

  &__logo {
    display: block;
    width: 134px;
    margin: 0 auto 60px;
    @media (min-width: $breakpoint-xs) {
      display: none;
    }
  }
}

.header__pages {
  @media (max-width: $breakpoint-xs - 1) {
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient;
    text-align: center;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  @media (min-width: $breakpoint-xs) {
    display: flex;
    align-items: center;
    margin: 0 -30px;
  }

  li {
    padding: 0 5px;
    margin-bottom: 15px;

    @media (min-width: $breakpoint-xs) {
      margin-bottom: 0;
      padding: 0 30px;
    }
  }

  a {
    position: relative;
    display: block;
    line-height: 22px;
    color: $white;
    font-weight: 700;
    font-size: 18px;

    @media (min-width: $breakpoint-xs) {
      font-size: 14px;
    }

    &:hover {
      color: $gray;
    }

    // &.active {
    //   color: $white;
    // }
  }

  &-opener {
    text-align: right;

    @media (min-width: $breakpoint-xs) {
      display: none;
    }
  }
}

body {
  &.menu-open {
    .header__pages {
      transform: translateX(0);
      transition: all 0.3s ease;
    }
  }
}
