.hero-section {
  background: $gradient;
  padding: 46px 0 42px;

  @media (min-width: $breakpoint-xs) {
    padding: 140px 0 176px;
  }
}

.hero {
  color: $white;

  @media (min-width: $breakpoint-xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    @media (min-width: $breakpoint-xs) {
      width: 440px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__box {
    @media (min-width: $breakpoint-xs) {
      max-width: 532px;
    }
  }

  &__btn {
    display: none;

    @media (min-width: $breakpoint-xs) {
      display: block;
    }
  }

  &__title {
    font-size: 46px;
    line-height: 62px;
    margin-bottom: 20px;

    @media (min-width: $breakpoint-xs) {
      margin-bottom: 6px;
    }

    span {
      font-weight: 900;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 50px;
  }
}

.text-section {
  padding: 160px 0;
  background: url("../img/section-2.png");
  background-size: 258px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $breakpoint-xs) {
    padding: 200px 0;
  }
}

.text {
  margin: 0 auto;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $breakpoint-xs) {
    font-size: 24px;
    line-height: 36px;
    max-width: 714px;
  }
}

.message-section {
  background: $gradient;
  padding: 58px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 50px 0;
  }
}

.message {
  color: $white;
  max-width: 260px;

  @media (min-width: $breakpoint-xs) {
    max-width: 570px;
  }

  a {
    color: $white;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      color: $gray;
    }
  }
}

.background {
  background-color: $purple;

  &.background--orange {
    background-color: $orange;
  }

  &.background--gray {
    background-color: $gray-2;
  }
}

.company-section {
  padding: 80px 0 50px;

  @media (min-width: $breakpoint-xs) {
    padding: 126px 0;
  }
}

.company {
  color: $white;

  @media (min-width: $breakpoint-xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__box {
    margin-bottom: 50px;

    @media (min-width: $breakpoint-xs) {
      max-width: 434px;
      margin-bottom: 0;
    }
  }

  &__logo {
    margin: 0 auto 54px;
    width: 256px;

    @media (min-width: $breakpoint-xs) {
      width: 434px;
      margin-bottom: 44px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -3px 50px;

    @media (min-width: $breakpoint-xs) {
      margin: 0 -6px 25px;
      justify-content: flex-start;
    }

    li {
      padding: 0 3px;

      @media (min-width: $breakpoint-xs) {
        padding: 0 6px;
      }
    }

    a {
      color: $white;
      font-size: 12px;
      line-height: 14px;
      border: 1px solid $white;
      padding: 4px 12px;
      border-radius: 50px;

      @media (min-width: $breakpoint-xs) {
        padding: 6px 16px;
      }

      &:hover {
        color: $gray;
        border-color: $gray;
      }
    }
  }

  &__img {
    @media (min-width: $breakpoint-xs) {
      width: 642px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__descola {
    width: 142px;
    margin: 0 auto;
    margin-bottom: 50px;

    @media (min-width: $breakpoint-xs) {
      margin: 0;
      margin-bottom: 26px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 26px;

    @media (min-width: $breakpoint-xs) {
      font-size: 22px;
      line-height: 30px;
    }

    a {
      color: $white;
      font-weight: 700;

      &:hover {
        color: $gray;
      }
    }
  }
}

.review-section {
  padding: 96px 0;
}

.review {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $breakpoint-xs) {
    max-width: 714px;
  }

  &__img {
    height: 70px;
    width: 70px;
    margin-bottom: 50px;

    @media (min-width: $breakpoint-xs) {
      height: 80px;
      width: 80px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: $breakpoint-xs) {
      font-size: 25px;
      line-height: 38px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $gray-1;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-xs) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}

.languages-section {
  padding: 60px 0 50px;

  @media (min-width: $breakpoint-xs) {
    padding: 100px 0 90px;
  }
}

.language {
  text-align: center;

  @media (min-width: $breakpoint-xs) {
    max-width: 840px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 36px;
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 46px;
    margin-bottom: 60px;

    @media (min-width: $breakpoint-xs) {
      font-size: 24px;
      margin-bottom: 88px;
    }
  }

  &__card {
    @media (min-width: $breakpoint-xs) {
      padding: 10px;
    }
  }

  img {
    width: 80px;
    height: 80px;

    @media (min-width: $breakpoint-xs) {
      width: 100px;
      height: 100px;
    }
  }

  .row {
    width: 192px;
    margin: 0 auto;
    @media (min-width: $breakpoint-xs) {
      width: 100%;
    }
  }
}

.form {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  color: $gray-4;
  font-size: 14px;
  line-height: 36px;
  border-radius: 10px;
  padding: 2px 20px;

  input {
    width: 100%;
  }
}

.textarea {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  color: $gray-4;
  font-size: 14px;
  line-height: 36px;
  border-radius: 10px;
  padding: 2px 20px;

  textarea {
    border: 0;
    resize: none;
    height: 120px;
    width: 100%;

    &:focus-visible {
      outline: 0;
    }
  }
}

.connect-section {
  background: $gradient-2;
  padding: 70px 0 50px;
  text-align: center;

  @media (min-width: $breakpoint-xs) {
    padding: 174px 0;
    text-align: left;
  }

  .container {
    max-width: 720px;
  }
}

.connect {
  @media (min-width: $breakpoint-xs) {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 50px;
    color: $white;

    @media (min-width: $breakpoint-xs) {
      margin-bottom: 44px;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;
    color: $white;
  }

  &__mail {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 40px;

    a {
      color: $white;
    }
  }

  &__form {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-xs) {
      margin-bottom: 0;
    }
  }

  &__item3 {
    @media (min-width: $breakpoint-xs) {
      grid-area: 1/2/4/2;
    }
  }

  &__item2 {
    @media (min-width: $breakpoint-xs) {
      display: none;
    }
  }
}
